 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Student at Wichita State University Majoring in Game Design. Learning the latest technologies such as pbr workflow, sculpting, and digital art. </p>
                </div>
                <div class="col-lg-4">
		    <p>Maya, Unity3D, photoshop, Substance painter, Blender, Adobe premiere, Adobe Audition, Krita.</p>
                </div>
            </div>
        </div>
    </section>
